# Database Config
DATABASE_URL=postgresql://postgres:password123@localhost:5432/enervision_db

# Caching Config
REDIS_URL=redis://localhost:6379/0

# LLM Ollama URL
OLLAMA_URL=http://localhost:11434

# Environment (development/production)
ENV=development
